{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/href-no-hash": "off",
    "react/forbid-prop-types": 0,
    "object-curly-newline": 0,
    "strict": 0,
    "padded-blocks": [1, "never"],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "max-len": [2, 120],
    "jsx-a11y/media-has-caption": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/sort-comp": [
      2,
      {
        "order": [
          "static-methods",
          "lifecycle",
          "render",
          "everything-else"
        ]
      }
    ]
  },
  "globals": {
    "localStorage": false,
    "fetch": false,
    "document": false,
    "window": false
  }
}
