@import './timer.css';
@import  './stats.css';

.app {
  position: relative;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  min-height: 690px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.background-work {
  background: #ef5350;
}

.background-relax {
  background: #00bfa5;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
}

.settingsButton {
  padding: 5px;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.settingsButton img {
  width: 25px;
  height: 25px;
}
