.settingsContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  min-height: 690px;
  transition: 0.3s;
}

.settingsContainer h1 {
  color: var(--main-color);
  margin-top: 80px;
  margin-left: 35px;
}
