.swicherContainer {
  width: 45px;
  height: 29px;
  border-radius: 25px;
  border: 2px solid #B0BEC5;
  background: transparent;
  padding: 0;
}

.swicherContainer_active {
  border: 2px solid var(--main-color);
  background: var(--main-color);
}

.switcherTumblr {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #B0BEC5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: -2px;
  margin-left: -2px;
}

.switcherTumblr_active {
  border: 2px solid var(--main-color);
  transform: translateX(100%)
}
