.rotate90 {
  transform: rotate(-90deg);
}

.timer {
  position: absolute;
  margin-top: 27px;
  width: 205px;
  height: 205px;
  border-radius: 100px;
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.btnsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 220px;
  margin: 30px auto 20px;
}

.startButton {
  width: 90px;
  min-height: 55px;
  margin: 0 10px;
  background: var(--red);
  padding: 0 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.startButton img {
  width: 24px;
  height: 24px;
}

.playOffset {
  margin-right: -2px;
  margin-left: 2px;
}

.slideIn-enter {
  opacity: 0;
  margin-right: -45%;
}

.slideIn-enter.slideIn-enter-active {
  opacity: 1;
  margin-right: 0;
  transition: 0.3s ease-in-out;
}

.slideIn-exit {
  opacity: 1;
  margin-right: 0;
}

.slideIn-exit.slideIn-exit-active {
  opacity: 0;
  margin-right: -45%;
  transition: 0.3s ease-in-out;
}