.toggleBtn {
  width: 50px;
  height: 35px;
  font-size: 14px;
  color: var(--main-color);
  background: white;
  border: 1px solid var(--main-color);
  transition: 0.25s;
}

.toggleBtn:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.toggleBtn:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.toggleBtn_active {
  background: var(--main-color);
  color: white;
}