@import  './styles/index.css';

body {
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  --background-color: #fafafa;
  background: var(--background-color);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
